extends ../template/layout.pug
block content    
  body.hold-transition.sidebar-mini
    .wrapper
      nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
        ul.navbar-nav
          li.nav-item
            a(class="nav-link", data-widget="pushmenu", href="#", role="button")
              i.fas.fa-bars
          li.nav-item.d-none.d-sm-inline-block
            a(href="/", class="nav-link") Home

        form.orm-inline.ml-3

        ul.navbar-nav.ml-auto
          li.nav-item.dropdown
            a(class="nav-link", data-toggle="dropdown", href="#")
              i.far.fa-bell
              span.badge.badge-warning.navbar-badge 0
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              span.dropdown-item.dropdown-header 0 Notificações
              .dropdown-divider
      
      aside.main-sidebar.sidebar-dark-primary.elevation-4
        a(href="/", class="brand-link")
          img(src="dist/img/AdminLTELogo.png", alt="AdminLTE Logo", class="brand-image img-circle elevation-3", style="opacity: .8")
          span.brand-text.font-weight-light Projeto
        nav.mt-2
          ul(class="nav nav-pills nav-sidebar flex-column", data-widget="treeview", role="menu", data-accordion="false")
            li.nav-item
              a( href="/", class="nav-link")
                i.nav-icon.fas.fa-tachometer-alt
                p Dashboard
            li.nav-header Paginas
            li.nav-item
              a(href="/cliente", class="nav-link")
                i.nav-icon.fas.fa-book
                p Cadastrar Cliente
            li.nav-item
              a(href="#", class="nav-link")
                i.nav-icon.fas.fa-book
                p Listar Cliente
      
      .content-wrapper
        .content-header 
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1.m-0.text-dark Dashboard
              .col-sm-6
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href="/") Home
                  li.breadcrumb-item.active Dashboard

        section.content
          form(method="post", action="", name="formCadatroCliente") 
            .row
              .col-md-12
                .card.card-primary
                  .card-header
                    h3.card-title General
                    .card-tools
                      button(type="button", class="btn btn-tool", data-card-widget="collapse", data-toggle="tooltip", title="Collapse")
                        i.fas.fa-minus
                  input(class="form-control", name="id", type="hidden", value="1")
                  .card-body
                    .form-group
                      label(for="inputName") Nome
                      input(type="text", name="name", id="inputName", class="form-control", value="")
                    .form-group  
                      label(for="inputName") Telefone
                      input(type="text", name="telefone", id="inputTelefone", class="form-control", value="")
                    .form-group
                      label(for="inputName") Endereço
                      input(type="text", name="endereco", id="inputEndereco", class="form-control", value="")
                    .form-group
                      label(for="inputName") Serviço
                      select(class="form-control custom-select", name="servico", id="servico")
                        option(value="1") Selecione
                        each servico in servicos
                          option(value=servico._id) #{servico.name}
                      button(type="button", id="buttonCV", onClick="AssignValues()", class="btn btn-outline-success", data-toggle="modal", data-target="#addModal") Cadastrar Serviços
            .row
              .col-12
                a(href="#", class="btn btn-secondary") Voltar
                input(type="submit", value="Cadastrar cliente", class="btn btn-success float-right", onclick="take_values()")
              p.login-box-msg=  msg 
    .modal.fade(id="addModal", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog( role="document" )   
        .modal-content     
          .modal-header
            h5(class="modal-title," id="addServicoModalLabel") Cadastrar Serviço    
            button(type="button", class="close", data-dismiss="modal", aria-label="Close") 
              span(aria-hidden="true") &times;
          .modal-body
            form( method="post" action="/servicos" id="ajax_form")
              .form-group.row
                label( class="col-sm-2 col-form-label" ) Nome
                .col-sm-10
                  input(name="name" type="text" class="form-control" id="name" placeholder="Nome do Serviço")
              .form-group.row
                  .col-sm-10
                     input(type="submit" id="resetModal" value="Cadastrar" class="btn btn-outline-success")
            p.login-box-msg=  msg 
             
    footer.main-footer
      strong Copyright &copy; 2014-2019 AdminLTE.io All rights reserved.
    aside.control-sidebar.control-sidebar-dark
  script(src="/plugins/jquery/jquery.min.js")
  script(src="/plugins/jquery-ui/jquery-ui.min.js")
                  