extends ../template/layout.pug
block content
  body.hold-transition.sidebar-mini.layout-fixed
    .wrapper
      nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
        ul.navbar-nav
          li.nav-item
            a(class="nav-link", data-widget="pushmenu", href="/index", role="button")
              i.fas.fa-bars
          li.nav-item.d-none.d-sm-inline-block
            a(href="/index", class="nav-link") Home

        form.orm-inline.ml-3

        ul.navbar-nav.ml-auto
          li.nav-item.dropdown
            a(class="nav-link", data-toggle="dropdown", href="#")
              i.far.fa-bell
              span.badge.badge-warning.navbar-badge 0
            .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
              span.dropdown-item.dropdown-header 0 Notificações
              .dropdown-divider
      
      aside.main-sidebar.sidebar-dark-primary.elevation-4
        a(href="/index", class="brand-link")
          img(src="dist/img/AdminLTELogo.png", alt="AdminLTE Logo", class="brand-image img-circle elevation-3", style="opacity: .8")
          span.brand-text.font-weight-light Projeto
        nav.mt-2
          ul(class="nav nav-pills nav-sidebar flex-column", data-widget="treeview", role="menu", data-accordion="false")
            li.nav-item
              a( href="/index", class="nav-link")
                i.nav-icon.fas.fa-tachometer-alt
                p Dashboard
            li.nav-header Paginas
            li.nav-item
              a(href="/clientes", class="nav-link")
                i.nav-icon.fas.fa-book
                p Cadastrar Cliente
            li.nav-item
              a(href="#", class="nav-link")
                i.nav-icon.fas.fa-book
                p Listar Cliente
      
      .content-wrapper
        .content-header 
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1.m-0.text-dark Dashboard
              .col-sm-6
                ol.breadcrumb.float-sm-right
                  li.breadcrumb-item
                    a(href="/index") Home
                  li.breadcrumb-item.active Dashboard

        section.content
          .container-fluid
            .row
              .col-md-12
                .card
                  .card-header
                    h5.card-title Cadastrar Cliente
                    .card-tools
                      button(type="button", class="btn btn-tool", data-card-widget="collapse")
                        i.fas.fa-minus
                      button(type="button", class="btn btn-tool", data-card-widget="remove")
                        i.fas.fa-times
                  .card-body
                    .row
                      .col-md-8
                        p.text-center
                          a(href="/clientes", class="btn btn-primary") Cadastrar Cliente  

      footer.main-footer
        strong Copyright &copy; 2014-2019 AdminLTE.io All rights reserved.
      aside.control-sidebar.control-sidebar-dark
block script