extends ../template/layoutLR.pug
block content
    body.hold-transition.login-page
        .login-box
            .login-logo
                a(href="#") Projeto Cliente 
            .card
                .card-body.login-card-body
                    p.login-box-msg Faça login para iniciar sua sessão
                    form(action="/signin" method="post")
                        .input-group.mb-3
                            input(type="text", name="email", id="email", class="form-control", placeholder="Email")
                            .input-group-append
                                .input-group-text
                                    span.fas.fa-envelope
                        .input-group.mb-3
                            input(type="password", name="password", id="password", class="form-control", placeholder="Password")
                            .input-group-append
                                .input-group-text
                                    span.fas.fa-lock
                        .row
                            .col-8
                                .icheck-primary
                                    input(type="checkbox", id="remember")
                                    label(for="remember") Me lembre
                        .col-4
                            button(type="submit", class="btn btn-primary btn-block") Entrar
                    p.mb-1
                        a(href="/register") Registre-se
                    p= msg
block script
                                        



