extends ../template/layoutLR.pug
block content
    body.hold-transition.register-page
        .register-box
            .register-logo
                a(href="#")
                    b  Projeto Cliente
            .card
                .card-body.register-card-body
                    p.login-box-msg  Registar novo membro       

                    form(action="/signup", method="post")  
                        .input-group.mb-3  
                            input(type="text",  class="form-control", placeholder="Nome", name="name", value= msgNome)
                            .input-group-append  
                                .input-group-text         
                                    span.fas.fa-user
                        .input-group.mb-3
                            input( type="email", class="form-control", placeholder="Email", name="email", value= msgEmail)
                            .input-group-append  
                                .input-group-text  
                                    span.fas.fa-envelope
                        .input-group.mb-3
                            input(type="password", class="form-control", placeholder="Password", name="password")
                            .input-group-append  
                                .input-group-text 
                                    span.fas.fa-lock
                        .input-group.mb-3
                            input( type="password", class="form-control", placeholder="Confirme Password", name="confirmPassword")
                            .input-group-append  
                                .input-group-text 
                                    span.fas.fa-lock
                        .col-4
                            button(type="submit", class="btn btn-primary btn-block") Registrar
                    p.login-box-msg=  msg 
                    a(href="/", class="text-center") Já é cadastrado
                    
block script