doctype html
html
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/plugins/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")
        link(rel="stylesheet", href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
        link(rel="stylesheet", href="/plugins/jqvmap/jqvmap.min.css")
        link(rel="stylesheet", href="/dist/css/adminlte.min.css")
        link(rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")
        link(rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css")
        link(rel="stylesheet" href="/plugins/summernote/summernote-bs4.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet")
    block content



    block script
        script(src="/plugins/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/plugins/chart.js/Chart.min.js")
        script(src="/plugins/sparklines/sparkline.js")
        script(src="/plugins/jqvmap/jquery.vmap.min.js")
        script(src="/plugins/jqvmap/maps/jquery.vmap.usa.js")
        script(src="/plugins/jquery-knob/jquery.knob.min.js")
        script(src="/plugins/moment/moment.min.js")
        script(src="/plugins/daterangepicker/daterangepicker.js")
        script(src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")
        script(src="/plugins/summernote/summernote-bs4.min.js")
        script(src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")
        script(src="/dist/js/adminlte.js")
        script(src="/dist/js/pages/dashboard.js")
        script(src="/dist/js/demo.js")