doctype html
html
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/plugins/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css")
        link(rel="stylesheet", href="/dist/css/adminlte.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700")
    block content




    block script
        script(src="/plugins/jquery/jquery.min.js") 
        script(src="/plugins/bootstrap/js/bootstrap.bundle.min.js")
        script(src="/dist/js/adminlte.min.js")